<section>
  <div class="block product-section color-scheme-3">
    <div class="container">
      <div class="header-1">
        <h1>Neue Produkte</h1>
        <div class="header-bottom-line"></div>
        <div class="block-toolbar">
          <a href="javascript:;" data-role="prev" class="prev jp-disabled"><i class="icon-angle-left"></i></a>
          <a href="javascript:;" data-role="next" class="next"><i class="icon-angle-right"></i></a>
        </div>
      </div>
      <ul class="row list-unstyled" id="products" style="min-height: 442px;">
        {% for product in site.products %}  
        <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center animated fadeInRight">
          <div class="product">
            <figure class="figure-hover-overlay">
              <a href="{{ product.url }}" class="figure-href"></a>
              {% include img src=product.image1 width="400" height="450" title=product.title class='img-responsive' %}
              <span class="bar"></span>
              <figcaption>
                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
              </figcaption>
            </figure>
            <div class="product-caption">
              <a href="#" class="product-name">{{ product.title }}</a>
              <p class="product-price">&euro;{{ product.price }}</p>
              <div class="product-rating">
                <div class="stars">
                  <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                </div>
              </div>
            </div>
          </div>
        </li>
         {% endfor %}
      </ul>
    </div>
  </div>
</section>