<section>
  <div class="block product-section color-scheme-3">
    <div class="container">
      <div class="header-1">
        <h1>Unsere Highlights</h1>
        <div class="header-bottom-line"></div>
        <div class="block-toolbar">
          <a href="javascript:;" data-role="prev" class="prev jp-disabled"><i class="icon-angle-left"></i></a>
          <a href="javascript:;" data-role="next" class="next"><i class="icon-angle-right"></i></a>
        </div>
      </div>
      <ul class="row list-unstyled" id="products" style="min-height: 442px;">
        {% assign products = site.products | where: 'published', 1 | where: 'highlight', 1 %}
        {% for item in products %}
        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center animated fadeInRight">
          <div class="product">
            <figure class="figure-hover-overlay">
              <a href="{{ item.url }}" class="figure-href"></a>
              {% assign img = item.gallery[0].src | remove_first: '_media/' %}
              {% include img src=img width="400" height="750" title=item.title class='img-responsive' %}
              <span class="bar"></span>
              <!--figcaption>
                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="{{ item.url }}" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i> Jetzt Kaufen</a>
                <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
              </figcaption-->
            </figure>
            <div class="product-caption">
              <a href="{{ item.url }}" class="product-name" style="min-height: 75px;">{{ item.title }}</a>
              {% if item.voucher and item.voucher.discount != 0 %}
                {% assign price-old = item.price | replace: ',', '.' %}
                {% assign discount = price-old | divided_by: 100.00 | times: item.discount %}
                {% assign price = price-old | minus: discount | round: 2 %}
              {% else %}
                {% assign price = item.price %}
                {% if item.old_price %}{% assign price-old = item.old_price %}{% else %}{% assign price-old = nil %}{% endif %}
              {% endif %}
              <p class="product-price">{% if price-old %}<span>&euro;{{ price-old | money | replace: '.', ',' }}</span>{% endif %} &euro;{{ price | money | replace: '.', ',' }} inkl. MwSt</p>
              <div class="product-rating">
                <div class="stars">
                  <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                </div>
              </div>
            </div>
          </div>
        </li>
         {% endfor %}
      </ul>
    </div>
  </div>
</section>
