<section>
	<div class="hide-brand-mobile">
		<div class="block block-partners color-scheme-3">
				<div class="container">
						<div class="header-1">
								<h1>Unsere Marken</h1>
								<div class="header-bottom-line"></div>
						</div>
						<div class="row">
								<div class="col-md-12">
										<ul class="flexisel">
												<li><img src="img/preview/partner1.jpg" alt="image1"></li>
												<li><img src="img/preview/partner2.jpg" alt="image2"></li>
												<li><img src="img/preview/partner3.jpg" alt="image3"></li>
												<li><img src="img/preview/partner4.jpg" alt="image4"></li> 
												<li><img src="img/preview/partner5.jpg" alt="image5"></li>
										</ul>
								</div>
						</div>
				</div>
		</div>
	</div>
</section>
