<div class="block footer-block">
		<div class="container">
				<div class="header-1">
						<h1>And more</h1>
						<div class="header-bottom-line"></div>
						<h3>Our additional services</h3>
				</div>
				<div class="row">
						<div class="payment-service">
								<div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
										<div class="payment-service-block">
												<a href="#">
														<span class="payment-service-icon"><i class="glyphicon glyphicon-saved"></i></span>
														<div class="payment-service-content">
																<h2 class="payment-service-main">Money Back Guarantee</h2>
																<h3 class="payment-service-sub">Personalized to your needs</h3>
														</div>
												</a>
										</div>
								</div>
								<div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
										<div class="payment-service-block">
												<a href="#">
														<span class="payment-service-icon"><i class="glyphicon glyphicon-usd"></i></span>
														<div class="payment-service-content">
																<h2 class="payment-service-main">In Store Exchance</h2>
																<h3 class="payment-service-sub">Personalized to your needs</h3>
														</div>
												</a>
										</div>
								</div>
								<div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
										<div class="payment-service-block">
												<a href="#">
														<span class="payment-service-icon"><i class="glyphicon glyphicon-gift"></i></span>
														<div class="payment-service-content">
																<h2 class="payment-service-main">Free Shipping</h2>
																<h3 class="payment-service-sub">Personalized to your needs</h3>
														</div>
												</a>
										</div>
								</div>
								<div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
										<div class="payment-service-block">
												<a href="#">
														<span class="payment-service-icon"><i class="glyphicon glyphicon-lock"></i></span>
														<div class="payment-service-content">
																<h2 class="payment-service-main">100% Secure Payment</h2>
																<h3 class="payment-service-sub">Personalized to your needs</h3>
														</div>
												</a>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>