<!--Slider Revolution-->
<section>
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul class="list-unstyled">	<!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="200" data-thumb="img/preview/slider/sliderpic-new.jpg" data-delay="10000"  data-saveperformance="on"><img src="img/preview/slider/sliderpic-new.jpg" alt="Bahar Boutique Slider 1" ></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Slider Revolution-->
