<!--Slider Revolution-->
        <section>
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul class="list-unstyled">	<!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="200" data-thumb="img/preview/slider/slider-test.jpg" data-delay="10000"  data-saveperformance="on"  data-title="Ken Burns Slide">
                            <!-- MAIN IMAGE -->
                            <img src="img/preview/slider/slider-test.jpg"  alt="Queen news"  data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center center">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption active_heavy_100 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
                                 data-x="150"
                                 data-y="143" 
                                 data-speed="500"
                                 data-start="400"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">Eröffnungs-Rabatt
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption black_heavy_70 skewfromrightshort fadeout tp-resizeme rs-parallaxlevel-10"
                                 data-x="150"
                                 data-y="270" 
                                 data-speed="500"
                                 data-start="2200"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"> jetzt auf
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption black_heavy_70 skewfromrightshort fadeout tp-resizeme rs-parallaxlevel-10"
                                 data-x="150"
                                 data-y="370" 
                                 data-speed="500"
                                 data-start="3200"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">  jede Bestellung 10% !
                            </div>

                        </li>
                        
                    </ul>
                </div>
            </div>
        </section>
        
        <!-- End Slider Revolution-->
