---
layout: default
---

<!--Content cart-->

        <section>
            <div class="block color-scheme-3">
                <div class="container">
                    <div class="header-1">
                        <h1>Shopping Cart</h1>
                        <div class="header-bottom-line"></div>
                        <h3>Products were added to your shopping cart</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="cart-table table">
                                <thead>
                                    <tr>
                                        <th class="card_product_image">Image</th>
                                        <th class="card_product_name">Product Name</th>
                                        <th class="card_product_model">Model</th>
                                        <th class="card_product_quantity">Quantity</th>
                                        <th class="card_product_price">Unit Price</th>
                                        <th class="card_product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="card_product_image" data-th="Image"><a href="#"><img src="http://placehold.it/400x450" alt="Image"></a></td>
                                        <td class="card_product_name" data-th="Product Name"><a href="#">Product Name</a></td>
                                        <td class="card_product_model" data-th="Model">Pro 1</td>
                                        <td class="card_product_quantity" data-th="Quantity"><input type="number" min="0" value="1" name="" class="styler">
                                            &nbsp;
                                            &nbsp;<a href="#"><i class="icon-trash icon-large"></i> </a>
                                        </td>
                                        <td class="card_product_price" data-th="Unit Price">$77.00</td>
                                        <td class="card_product_total" data-th="Total">$77.00</td>
                                    </tr>

                                    <tr>
                                        <td class="card_product_image" data-th="Image"><a href="#"><img src="http://placehold.it/400x450" alt="Image" ></a></td>
                                        <td class="card_product_name" data-th="Product Name"><a href="#">Product Name</a><br>
                                            <small>Information: 12s</small>
                                        </td>
                                        <td class="card_product_model" data-th="Model">Pro 2</td>
                                        <td class="card_product_quantity" data-th="Quantity"><input type="number" min="0" value="1" name="" class="styler">
                                            &nbsp;
                                            &nbsp;<a href="#"><i class="icon-trash icon-large"></i> </a>
                                        </td>
                                        <td class="card_product_price" data-th="Unit Price">$777.00</td>
                                        <td class="card_product_total" data-th="Total">$777.00</td>
                                    </tr>

                                    <tr>
                                        <td class="card_product_image" data-th="Image"><a href="#"><img src="http://placehold.it/400x450" alt="Image"></a></td>
                                        <td class="card_product_name" data-th="Product Name"><a href="#">Product Name</a></td>
                                        <td class="card_product_model" data-th="Model">Pro 3</td>
                                        <td class="card_product_quantity" data-th="Quantity"><input type="number" min="0" value="1" name="" class="styler">
                                            &nbsp;
                                            &nbsp;<a href="#"><i class="icon-trash icon-large"></i> </a>
                                        </td>
                                        <td class="card_product_price" data-th="Unit Price">$7.00</td>
                                        <td class="card_product_total" data-th="Total">$7.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="block-form box-border">
                                        <h3>Estimate Shipping & Taxes</h3>
                                        <hr>
                                        <form action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Your Country</label>
                                                    <select name="country" class="form-control">
                                                        <option selected="selected">Country 1</option>
                                                        <option>Country 2</option>
                                                        <option>Country 3</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>Your Region</label>
                                                    <select name="Region" class="form-control">
                                                        <option selected="selected">Region 1</option>
                                                        <option>Region 2</option>
                                                        <option>Region 3</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12">
                                                    <label>Your Post Code</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit"  value="Get Quotes"  class="btn-default-1">
                                                </div>
                                            </div>                                    
                                        </form>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="block-form box-border">
                                        <h3>Apply Discount Code</h3>
                                        <hr>
                                        <form action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Discount Code</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit"  value="Apply Coupon"  class="btn-default-1">
                                                </div>
                                            </div>                                    
                                        </form>
                                    </div>
                                </article>
                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="block-form box-border">
                                        <h3>Use Gift Voucher</h3>
                                        <hr>
                                        <form action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Voucher Code</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit"  value="Apply Voucher"  class="btn-default-1">
                                                </div>
                                            </div>                                    
                                        </form>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="block-form block-order-total box-border">
                                        <h3>Total</h3>
                                        <hr>
                                        <ul class="list-unstyled">
                                            <li>Sub Total: <strong>$500.00</strong></li>
                                            <li>Pricing Sharge: <strong>$10.00</strong></li>
                                            <li>Promotion Discound: <strong>$5.00</strong></li>
                                            <li>VAT: <strong>$10.00</strong></li>
                                            <li><hr></li>
                                            <li class="active"><b>Total:</b> <strong>$520.00</strong></li>                                    
                                        </ul>
                                        <input type="submit"  value="Contuine Shoping"  class="btn-default-1">
                                        <a href="#"  class="btn-default-1">Checkout</a>
                                    </div>
                                </article>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
