---
layout: default
---

<section>
  <div class="color-scheme-3">
    <div class="container">
      <p>&nbsp;</p>
      <div class="header-1">
        <h1>{{ page.title }}</h1>
        <div class="header-bottom-line"></div>
        {{ content }}
      </div>
      <div class="row">
        <div class="product-section col-xs-12">
          <div class="row">
            {% assign products = site.products | where: 'category', page.slug | where: 'published', 1 %}
            {% for item in products %}
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
              <div class="product">
                <figure class="figure-hover-overlay">
                  <a href="{{ item.url }}"  class="figure-href"></a>
                  {% assign img = item.gallery[0].src | remove_first: '_media/' %}
                  {% include img src=img width="400" height="750" title=item.title class='img-responsive' %}
                  <span class="bar"></span>
                </figure>
                <div class="product-caption">
                  <a href="{{ item.url }}" class="product-name" style="min-height: 75px;">{{ item.title }}</a>
                  {% if item.voucher and item.voucher.discount != 0 %}
                    {% assign price-old = item.price | replace: ',', '.' %}
                    {% assign discount = price-old | divided_by: 100.00 | times: item.discount %}
                    {% assign price = price-old | minus: discount | round: 2 %}
                  {% else %}
                    {% assign price = item.price %}
                    {% if item.old_price %}{% assign price-old = item.old_price %}{% else %}{% assign price-old = nil %}{% endif %}
                  {% endif %}
                  <p class="product-price">{% if price-old %}<span>&euro;{{ price-old | money | replace: '.', ',' }}</span>{% endif %} &euro;{{ price | money | replace: '.', ',' }}</p>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
