---
layout: default
---
<section>
    <div class="block color-scheme-3">
        <div class="container">
            <div class="header-1">
                <h1>{{ page.title }}</h1>
                <div class="header-bottom-line"></div>
                <h3>Information und Formular</h3>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="block-form box-border">
                        <div class="header-1">
                            <h3>Unsere Daten </h3>
                            <div class="header-bottom-line"></div>
                        </div>

                            <div class="row">
                                <div class="col-md-12">
                                  {{ content }}
                                </div>
                            </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block-form box-border">
                        <div class="header-1">
                            <h3>Kontaktformular</h3>
                            <div class="header-bottom-line"></div>
                        </div>
                        <form method="post" action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputFirstName" class="control-label">Name:<span class="text-error">*</span></label>
                                        <div>
                                            <input type="text" class="form-control" id="inputFirstName">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputLastName" class="control-label">Email:<span class="text-error">*</span></label>
                                        <div>
                                            <input type="email" class="form-control" id="inputLastName">
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="inputSubject" class="control-label">Subject:<span class="text-error">*</span></label>
                                        <div>
                                            <input type="text" class="form-control" id="inputSubject">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="inputText" class="control-label">Message:<span class="text-error">*</span></label>
                                        <div>
                                            <textarea class="form-control" id="inputText"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <input type="submit" class="btn-default-1" value="Submit">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.6096616964237!2d8.755599515681311!3d53.117200699551375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b1290c7805bdcf%3A0xa9767fa4e5431b42!2sBahar+Boutique+Tesett%C3%BCr!5e0!3m2!1sen!2sde!4v1468249555854" frameborder="0" style="overflow:hidden;height:100%;width:100%;" ></iframe>
    </div>
</section>