<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    {% css theme-style.css %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% js vendor/modernizr %}
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
      window.cookieconsent_options = {"message":"Diese Website benutzt cookies um Ihnen die best mögliche Erfahrung zu ermöglichen.","dismiss":"Alles klar!","learnMore":"Mehr       Infos","link":"http://baharboutique.com/datenschutz.html","theme":"dark-bottom"};
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

  </head>
  <body>
    <!-- Header-->
    <header id="header">
      <div class="header-bg">
        <div class="header-main" id="header-main-fixed">
          <div class="container">
            <div id="container-fixed">
              <div class="row">
                <div class="col-md-6">
                  <a href="index.html" class="header-logo pull-left"></a>    
                </div>
                <div class="col-md-6">
                  <div class="header-mini-cart  pull-right">
                    <a href="{{ site.baseurl }}cart">
                      <span class="navbar-cart"></span>
                    </a>
                  </div><!-- /header-mini-cart -->
                  <div class="top-search-form  pull-right">
                    <form action="{{ site.baseurl }}search">
                      <input name="q" type="text" placeholder="Search ...">
                      <button type="submit"><i class="icon-search"></i></button>
                    </form>  
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="navbar yamm navbar-main" role="navigation">
            <div class="border-menu-top"></div>
            <div class="container">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a href="index.html" class="navbar-brand"><i class="icon-home"></i></a>
              </div>
              <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  {% for item in site.categories %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                   {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% for item in site.pages %}{% unless item.slug == "index" %}{% unless item.parent %}{% unless item.menu == false %}
                  {% assign submenu = (site.pages | where: 'published', 1 | where: 'parent', item.slug | sort: 'order') %}
                  {% assign submenusize = submenu | size %}
                  {% if submenusize > 0 %}
                  <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ item.title }} <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      {% for item in submenu %}
                      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {% endif %}
                  {% endunless %}{% endunless %}{% endunless %}{% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- /header-main-menu -->
      </div>
    </header>
    <!-- End header -->
    {{ content }}
    <!-- Section footer -->
    <footer id="footer">
              
      <div class="footer-information">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="header-footer">
                <h3>Information</h3>
              </div>
              <ul class="footer-categories list-unstyled">
                <li><a href="ueber-uns.html"><i class="icon-angle-right"></i> Über Uns</a></li>
                <li><a href="kontakt.html"><i class="icon-angle-right"></i> Kontakt</a></li>
                <li><a href="datenschutz.html"><i class="icon-angle-right"></i> Datenschutz</a></li>
                <li><a href="shop-agbs.html"><i class="icon-angle-right"></i> Allgemeine Geschäftsbedingungen</a></li>
                <li><a href="impressum.html"><i class="icon-angle-right"></i> Impressum</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="header-footer">
                <h3>Gratis Newsletter</h3>
              </div>
              <p>
                Jetzt zu unserem Newsletter anmelden und immer über Angebote auf dem neuesten Stand sein!
              </p>
              <form class="form-horizontal" action="https://baharboutique.us13.list-manage.com/subscribe/post" target="_blank" id="mailchimp_form">
                <label class="sr-only" for="email">Email Address</label>
                <input type="email" class="input" placeholder="Email" id="email" name="EMAIL" required>
                <input type="hidden" name="u" value="b99955ba3edece5fa95f6f3a0">
                <input type="hidden" name="id" value="be7e112079">
                <button type="submit"><i class="icon-angle-right"></i></button>
              </form>
              <div class="socials">
                <a href="https://www.facebook.com/baharboutiquetesettuer/"><i class="icon-facebook icon-large"></i></a>
                <a href="https://twitter.com/Bahar_Boutique/"><i class="icon-twitter icon-large"></i></a>
                <a href="https://plus.google.com/105140503278343271378/"><i class="icon-google icon-large"></i></a>
                <a href="https://de.pinterest.com/baharboutiquete/"><i class="icon-pinterest icon-large"></i></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="header-footer">
                <h3>Kontakt</h3>
              </div>
              <p><strong>Tel: +49 (0)421 3909 4188</strong><br><strong>Email:</strong> info@baharboutique.com</p>
              <p><strong>Bahar Boutique Tesettür</strong><br>Gröpelinger Heerstr. 213, 28239 Bremen, Deutschland</p>
              <p><a target="_blank" href="https://goo.gl/maps/XmjinLXekb72"><i class="icon-map-marker"></i> Bei Google Maps finden</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copy color-scheme-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="index.html" class="logo-copy pull-left"></a>
              <p class="pull-left">
                Copyright © 2016 <a href="/">baharboutique.com</a> <br>| All rights reserved.
              </p>
              <ul class="footer-payments pull-right">
                <li><img src="img/payment-maestro.jpg" alt="payment" /></li>
                <li><img src="img/payment-discover.jpg" alt="payment" /></li>
                <li><img src="img/payment-visa.jpg" alt="payment" /></li>
                <li><img src="img/payment-american-express.jpg" alt="payment" /></li>
                <li><img src="img/payment-paypal.jpg" alt="payment" /></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- End Section footer -->
    {% js app %}
    <!--script src="js/vendor/tab.js"></script-->
  </body>
</html>
