<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">``
    <![endif]-->
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="MosaicDesign">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/theme-style.css">
    <link rel="stylesheet" href="css/ie.style.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!--[if IE 7]>
      <link rel="stylesheet" href="css/font-awesome-ie7.css">
    <![endif]-->

    <script src="js/vendor/modernizr.js"></script>
    <!--[if IE 8]><script src="js/vendor/less-1.3.3.js"></script><![endif]-->
    <!--[if gt IE 8]><!--><script src="js/vendor/less.js"></script><!--<![endif]-->

  </head>
  <body>
    <!-- Header-->
    <header id="header">
      <div class="header-bg">
        <div class="header-main" id="header-main-fixed">
          <div class="container">
            <div id="container-fixed">
              <div class="row">
                <div class="col-md-6">
                  <a href="index.html" class="header-logo pull-left"></a>    
                </div>
                <div class="col-md-6">
                  <div class="header-mini-cart  pull-right">
                    <a href="#"  data-toggle="dropdown">
                      <span>3</span>
                    </a>
                    <div class="dropdown-menu shopping-cart-content pull-right">
                      <div class="shopping-cart-items">
                        <div class="item pull-left">
                          <img src="http://placehold.it/62x70" alt="Product Name" class="pull-left">
                          <div class="pull-left">
                            <p>Product Name</p>
                            <p>$149.99&nbsp;<strong>x 2</strong></p>
                          </div>
                          <a href="" class="pull-right"><i class="icon-trash icon-large pull-left"></i></a>
                        </div>
                        <div class="item pull-left">
                          <img src="http://placehold.it/62x70" alt="Product Name" class="pull-left">
                          <div class="pull-left">
                            <p>Product Name</p>
                            <p>$57.00&nbsp;<strong>x 3</strong></p>
                          </div>
                          <a href="" class="pull-right"><i class="icon-trash icon-large pull-left"></i></a>
                        </div>
                        <div class="item pull-left">
                          <img src="http://placehold.it/62x70" alt="Product Name" class="pull-left">
                          <div class="pull-left">
                            <p>Product Name</p>
                            <p>$112.09&nbsp;<strong>x 4</strong></p>
                          </div>
                          <a href="" class="pull-right"><i class="icon-trash icon-large pull-left"></i></a>
                        </div>
                        <div class="total pull-left">
                          <table>
                            <tbody class="pull-right">
                              <tr>
                                <td><b>Sub-Total:</b></td>
                                <td>$399.99</td>
                              </tr>
                              <tr>
                                <td><b>Eco Tax (-2.00):</b></td>
                                <td>$6.00</td>
                              </tr>
                              <tr>
                                <td><b>VAT (17.5%):</b></td>
                                <td>$70.00</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td><b>Total:</b></td>
                                <td>$475.99</td>
                              </tr>
                            </tbody>
                          </table>
                          <a href="#" class="btn-read pull-right">Checkout</a>
                          <a href="#" class="btn-read pull-right">View Cart</a>
                        </div>
                      </div>
                    </div>
                  </div><!-- /header-mini-cart -->
                  <div class="top-search-form  pull-right">
                    <form action="{{ site.baseurl }}search.html">
                      <input name="q" type="text" placeholder="Search ...">
                      <button type="submit"><i class="icon-search"></i></button>
                    </form>  
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="navbar yamm navbar-main" role="navigation">
            <div class="border-menu-top"></div>
            <div class="container">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a href="index.html" class="navbar-brand"><i class="icon-home"></i></a>
              </div>
              <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  {% for item in site.categories %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                   {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% for item in site.pages %}{% unless item.slug == "index" %}{% unless item.parent %}{% unless item.menu == false %}
                  {% assign submenu = (site.pages | where: 'published', 1 | where: 'parent', item.slug | sort: 'order') %}
                  {% assign submenusize = submenu | size %}
                  {% if submenusize > 0 %}
                  <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ item.title }} <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      {% for item in submenu %}
                      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {% endif %}
                  {% endunless %}{% endunless %}{% endunless %}{% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- /header-main-menu -->
      </div>
    </header>
    <!-- End header -->
    {{ content }}
    <!-- Section footer -->
    <footer id="footer">
              
      <div class="footer-information">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="header-footer">
                <h3>Information</h3>
              </div>
              <ul class="footer-categories list-unstyled">
                <li><a href="#"><i class="icon-angle-right"></i> Über Uns</a></li>
                <li><a href="#"><i class="icon-angle-right"></i> Contact Us</a></li>
                <li><a href="#"><i class="icon-angle-right"></i> Delivery Information</a></li>
                <li><a href="#"><i class="icon-angle-right"></i> Privacy Policy</a></li>
                <li><a href="#"><i class="icon-angle-right"></i> Terms & Conditions</a></li>
                <li><a href="#"><i class="icon-angle-right"></i> Site Map</a></li>
                <li><a href="#"><i class="icon-angle-right"></i> Returns</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="header-footer">
                <h3>Gratis Newsletter</h3>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <form class="form-horizontal">
                <input type="text" class="input" placeholder="Email">
                <button type="submit"><i class="icon-angle-right"></i></button>
              </form>
              <div class="socials">
                <a href="#"><i class="icon-facebook icon-large"></i></a>
                <a href="#"><i class="icon-twitter icon-large"></i></a>
                <a href="#"><i class="icon-linkedin icon-large"></i></a>
                <a href="#"><i class="icon-pinterest icon-large"></i></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="header-footer">
                <h3>Kontakt</h3>
              </div>
              <p><strong>Tel: +49</strong><br><strong>Email:</strong> info@yourdomain.com</p>
              <p><strong>Your Company LTD.</strong><br>Street Name, 000000, City Name</p>
              <p><a href=""><i class="icon-map-marker"></i> Location in Google Maps</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copy color-scheme-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="index.html" class="logo-copy pull-left"></a>
              <p class="pull-left">
                <a href="">Copyright © 2016</a> baharboutique.com | All rights reserved.<br>Designed by <a href="http://mosaicdesign.uz" target="_blank">Mosaic Design</a>
              </p>
              <ul class="footer-payments pull-right">
                <li><img src="img/payment-maestro.jpg" alt="payment" /></li>
                <li><img src="img/payment-discover.jpg" alt="payment" /></li>
                <li><img src="img/payment-visa.jpg" alt="payment" /></li>
                <li><img src="img/payment-american-express.jpg" alt="payment" /></li>
                <li><img src="img/payment-paypal.jpg" alt="payment" /></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- End Section footer -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/jquery.easing.1.3.js"></script>
    <script src="js/vendor/bootstrap.js"></script>

    <script src="js/vendor/jquery.flexisel.js"></script>

    <script src="js/vendor/jquery.transit.js"></script>
    <script src="js/vendor/jquery.jcountdown.js"></script>
    <script src="js/vendor/jquery.jPages.js"></script>
    <script src="js/vendor/tab.js"></script>
    
    <script src="js/google-search.js"></script>

    <script src="js/vendor/responsiveslides.min.js"></script>
    <script src="js/vendor/jquery.elevateZoom-3.0.8.min.js"></script>

    <!-- jQuery REVOLUTION Slider  -->
    <script type="text/javascript" src="js/vendor/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.scrollTo-1.4.2-min.js"></script>

    <!-- Custome Slider  -->
    <script src="js/main.js"></script>

    <!--Here will be Google Analytics code from BoilerPlate-->
  </body>
</html>
