---
layout: default
---

<section>
  <div class="block-blog color-scheme-3">
    <div class="container">
      <p>&nbsp;</p>
      <div class="header-1">
        <h1>{{ page.title }}</h1>
        <div class="header-bottom-line"></div>
      </div>
      <div class="row">
        {% if page.image %}
        <div class="col-md-4">
            <p> {% include img src=page.image width="250" %} </p>
        </div>
        <div class="col-md-8">
          {{ content }}
        </div>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
</section>
