---
layout: default
---

<!-- Product list section-->

        <section>
            <div class="block-breadcrumb color-scheme-3">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Page</a></li>
                        <li class="active">Products-list</li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="color-scheme-3">
                <div class="container">
                    <div class="header-1">
                        <h1>Tango dresses</h1>
                        <div class="header-bottom-line"></div>
                        <h3>Summer collection</h3>
                    </div>
                    <div class="row">
                        <div class="product-section col-xs-12 col-sm-6 col-md-9 col-lg-9">
                            <div class="block-products-modes color-scheme-2">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="product-view-mode">
                                            <a href="products-grid.html"><i class="icon-th-large"></i></a>
                                            <a href="products-list.html" class="active"><i class="icon-th-list"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <div class="row">
                                            <div class="col-md-3 col-md-offset-1">
                                                <label class="pull-right">Sort by</label>
                                            </div>
                                            <div class="col-md-5 products-sort">
                                                <select name="sort-type" class="form-control">
                                                    <option value="position:asc" selected="selected">--</option>
                                                    <option value="price:asc">Price: Lowest first</option>
                                                    <option value="price:desc">Price: Highest first</option>
                                                    <option value="name:asc">Product Name: A to Z</option>
                                                    <option value="name:desc">Product Name: Z to A</option>
                                                    <option value="quantity:desc">In stock</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 products-sort">
                                                <select name="products-per-page" class="form-control">
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="100">100</option>
                                                    <option value="all">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-list">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product">
                                            <figure class="figure-hover-overlay">                                                                        
                                                <a href="#"  class="figure-href"></a>
                                                <div class="product-new">new</div>
                                                <div class="product-sale">sale</div>
                                                <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                                        <div class="product-caption">
                                            <a href="#" class="product-name">Product name</a>
                                            <div class="product-rating">
                                                <div class="stars">
                                                    <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                                </div>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product-caption">
                                            <p class="product-price">230.99$ <br><span>240.99$</span></p>

                                            <div class="list-shopping-cart">
                                                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                                <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                                <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-list">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product">
                                            <figure class="figure-hover-overlay">                                                                        
                                                <a href="#"  class="figure-href"></a>
                                                <div class="product-new">new</div>
                                                <div class="product-sale">sale</div>
                                                <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                                        <div class="product-caption">
                                            <a href="#" class="product-name">Product name</a>
                                            <div class="product-rating">
                                                <div class="stars">
                                                    <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                                </div>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product-caption">
                                            <p class="product-price">230.99$ <br><span>240.99$</span></p>

                                            <div class="list-shopping-cart">
                                                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                                <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                                <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-list">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product">
                                            <figure class="figure-hover-overlay">                                                                        
                                                <a href="#"  class="figure-href"></a>
                                                <div class="product-new">new</div>
                                                <div class="product-sale">sale</div>
                                                <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                                        <div class="product-caption">
                                            <a href="#" class="product-name">Product name</a>
                                            <div class="product-rating">
                                                <div class="stars">
                                                    <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                                </div>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product-caption">
                                            <p class="product-price">230.99$ <br><span>240.99$</span></p>

                                            <div class="list-shopping-cart">
                                                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                                <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                                <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-list">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product">
                                            <figure class="figure-hover-overlay">                                                                        
                                                <a href="#"  class="figure-href"></a>
                                                <div class="product-new">new</div>
                                                <div class="product-sale">sale</div>
                                                <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                                        <div class="product-caption">
                                            <a href="#" class="product-name">Product name</a>
                                            <div class="product-rating">
                                                <div class="stars">
                                                    <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                                </div>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                                        <div class="product-caption">
                                            <p class="product-price">230.99$ <br><span>240.99$</span></p>

                                            <div class="list-shopping-cart">
                                                <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                                <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                                <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-pagination">
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                            <article class="block-side-category">
                                <div class="header-2">
                                    <h3>Category</h3>
                                </div>
                                <div class="box">
                                    <ul class="ul-side-category list-unstyled">
                                        <li><a href=""><i class="icon-angle-right"></i> Man (2)</a>
                                            <ul class="sub-category">
                                                <li><a href="">Dress (2)</a>
                                                    <ul class="sub-category">
                                                        <li><a href="#">Dress 1</a></li>
                                                        <li><a href="#">Dress 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="">Shirt (3)</a>
                                                    <ul class="sub-category">
                                                        <li><a href="#">Shirt 1</a></li>
                                                        <li><a href="#">Shirt 2</a></li>
                                                        <li><a href="#">Shirt 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="icon-angle-right"></i> Woman (2)</a>
                                            <ul class="sub-category">
                                                <li><a href="">Dress (2)</a>
                                                    <ul class="sub-category">
                                                        <li><a href="#">Dress 1</a></li>
                                                        <li><a href="#">Dress 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="">Shirt (3)</a>
                                                    <ul class="sub-category">
                                                        <li><a href="#">Shirt 1</a></li>
                                                        <li><a href="#">Shirt 2</a></li>
                                                        <li><a href="#">Shirt 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="icon-angle-right"></i> Tablet (0)</a>

                                        </li>
                                        <li><a href="#"><i class="icon-angle-right"></i> Laptop (0)</a>

                                        </li>

                                    </ul> 
                                </div>

                            </article>
                            <article class="block-range">
                                <div class="header-2">
                                    <h3>Price range</h3>
                                </div>
                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" id="price-from" class="form-control" value="0">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" id="price-to" class="form-control" value="500">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </article>
                            <article class="block-color">
                                <div class="header-2">
                                    <h3>Colors</h3>
                                </div>
                                <div class="box">
                                    <ul class="colors clearfix list-unstyled">
                                        <li><a href="" rel="003d71"></a></li>
                                        <li><a href="" rel="c42c39"></a></li>
                                        <li><a href="" rel="f4bc08"></a></li>
                                        <li><a href="" rel="02882c"></a></li>
                                        <li><a href="" rel="000000"></a></li>
                                        <li><a href="" rel="caccce"></a></li>
                                        <li><a href="" rel="ffffff"></a></li>
                                        <li><a href="" rel="f9e7b6"></a></li>
                                        <li><a href="" rel="ef8a07"></a></li>
                                        <li><a href="" rel="5a433f"></a></li>
                                        <li><a href="" rel="ff9bb5"></a></li>
                                        <li><a href="" rel="8c56a9"></a></li>
                                    </ul>
                                </div>
                            </article>
                            <article class="block-side-products">
                                <div class="header-2">
                                    <h3>Specials</h3>
                                </div>
                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 col-xs-6 text-center">

                                            <a href="#">
                                                <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">
                                            </a>

                                        </div>
                                        <div class="col-md-12 col-sm-6 col-xs-6  text-center">
                                            <h4>Modern dress</h4>
                                            <p class="price"> $75.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6  col-xs-6 text-center">

                                            <a href="#">
                                                <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">
                                            </a>

                                        </div>
                                        <div class="col-md-12 col-sm-6 col-xs-6  text-center">
                                            <h4>Red dress</h4>
                                            <p class="price"> $85.00 <small class="text-muted">$95.00</small></p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>


                </div>
            </div>
        </section>
