---
layout: default
---
<section>
  <div class="color-scheme-3">
    <div class="container">
      <div class="row">
        <div class="product-detail-section col-xs-12 col-sm-8 col-md-9 col-lg-9">
          <div class="product-list">
            <div class="row simpleCart_shelfItem">
              <div class="hidden">
                <span class="item_price">&euro;{{ page.price | replace: ',', '.' }}</span>
                <span class="item_url">{{ site.url }}{{ page.url }}</span>
                {% include img src=page.image1 width="90" class="item_thumb" %}
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-image">
                  {% capture img_sm %}{% include img_path src=page.image1 width="62" height="70" %}{% endcapture %}
                  {% capture img_md %}{% include img_path src=page.image1 width="400" height="450" %}{% endcapture %}
                  {% capture img_lg %}{% include img_path src=page.image1 width="800" height="900" %}{% endcapture %}
                  <img id="product-zoom"  src='{{ img_md }}' data-zoom-image="{{ img_lg }}" alt="{{ page.title }}">
                  <div id="gal1">

                    <a href="javascript:;" data-image="{{ img_md }}" data-zoom-image="{{ img_lg }}">
                      <img id="img_01" src="{{ img_sm }}" alt="{{ page.title }}">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h3 class="item_name">{{ page.title }}</h3>
                <div class="product-rating">
                  <div class="stars">
                    <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                  </div>
                </div>
                <div class="product-information">
                  {% if page.brand %}
                  <div class="clearfix"> 
                    <label class="pull-left">Hersteller:</label> <span class="item_brand">{{ page.brand }}</span>
                  </div>
                  {% endif %}
                  {% if page.sku %}
                  <div class="clearfix"> 
                    <label class="pull-left">Produkt Code:</label> <span class="item_sku">{{ page.sku }}</span>
                  </div>
                  {% endif %}
                  {% if page.sizes %}
                  <div class="clearfix">
                    <label class="pull-left">Größe:</label>
                    <select name="size" class="item_size form-control">
                      {% for size in page.sizes %}
                      <option value="{{ size.name }}">{{ size.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                  <div class="clearfix">
                    <label class="pull-left">Menge:</label>
                    <select name="quantity" class="form-control item_quantity">
                      {% for i in (1..10) %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Preis:</label>
                    <p class="product-price">{% if page.old_price %}<span>&euro;{{ page.old_price }}</span>{% endif %} &euro;{{ page.price }}</p>
                  </div>
                  <div class="header-1">
                    <div class="header-bottom-line"></div>
                  </div>
                  <div class="text-center">
                    <button class="btn-default-1 item_add"><i class="glyphicon glyphicon-shopping-cart"></i> Jetzt Kaufen</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-border block-form">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="description">
                <br>
                <h3>Produktbeschreibung</h3>
                <hr>
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
