---
layout: default
---

<!-- Product list sections-->

<section>
    <div class="block-breadcrumb color-scheme-3">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Page</a></li>
                <li class="active">Products-grid</li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="color-scheme-3">
        <div class="container">
            <div class="header-1">
                <h1>Tango dresses</h1>
                <div class="header-bottom-line"></div>
                <h3>Summer collection</h3>
            </div>
            <div class="row">
                <div class="product-section col-xs-12 col-sm-6 col-md-9 col-lg-9">
                    <div class="block-products-modes color-scheme-2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="product-view-mode">
                                    <a href="products-grid.html" class="active"><i class="icon-th-large"></i></a>
                                    <a href="products-list.html"><i class="icon-th-list"></i></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <label class="pull-right">Sort by</label>
                                    </div>
                                    <div class="col-md-5 products-sort">
                                        <select name="sort-type" class="form-control">
                                            <option value="position:asc" selected="selected">--</option>
                                            <option value="price:asc">Price: Lowest first</option>
                                            <option value="price:desc">Price: Highest first</option>
                                            <option value="name:asc">Product Name: A to Z</option>
                                            <option value="name:desc">Product Name: Z to A</option>
                                            <option value="quantity:desc">In stock</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 products-sort">
                                        <select name="products-per-page" class="form-control">
                                            <option value="10" selected="selected">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="100">100</option>
                                            <option value="all">All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                            <div class="product">
                                <figure class="figure-hover-overlay">                                                                        
                                    <a href="#"  class="figure-href"></a>
                                    <div class="product-new">new</div>
                                    <div class="product-sale">sale</div>
                                    <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">

                                    <span class="bar"></span>
                                    <figcaption>
                                        <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                        <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                        <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="product-caption">
                                    <a href="#" class="product-name">Product name</a>
                                    <p class="product-price">230.99$</p>
                                    <div class="product-rating">
                                        <div class="stars">
                                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                            <div class="product">
                                <figure class="figure-hover-overlay">                                                                        
                                    <a href="#"  class="figure-href"></a>
                                    <div class="product-new">new</div>
                                    <div class="product-sale">sale</div>
                                    <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">

                                    <span class="bar"></span>
                                    <figcaption>
                                        <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                        <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                        <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="product-caption">
                                    <a href="#" class="product-name">Product name</a>
                                    <p class="product-price">230.99$</p>
                                    <div class="product-rating">
                                        <div class="stars">
                                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                            <div class="product">
                                <figure class="figure-hover-overlay">                                                                        
                                    <a href="#"  class="figure-href"></a>
                                    <div class="product-new">new</div>
                                    <div class="product-sale">sale</div>
                                    <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">

                                    <span class="bar"></span>
                                    <figcaption>
                                        <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                        <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                        <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="product-caption">
                                    <a href="#" class="product-name">Product name</a>
                                    <p class="product-price">230.99$</p>
                                    <div class="product-rating">
                                        <div class="stars">
                                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                            <div class="product">
                                <figure class="figure-hover-overlay">                                                                        
                                    <a href="#"  class="figure-href"></a>
                                    <div class="product-new">new</div>
                                    <div class="product-sale">sale</div>
                                    <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">

                                    <span class="bar"></span>
                                    <figcaption>
                                        <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                        <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                        <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="product-caption">
                                    <a href="#" class="product-name">Product name</a>
                                    <p class="product-price">230.99$</p>
                                    <div class="product-rating">
                                        <div class="stars">
                                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </article>
                        <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                            <div class="product">
                                <figure class="figure-hover-overlay">                                                                        
                                    <a href="#"  class="figure-href"></a>
                                    <div class="product-new">new</div>
                                    <div class="product-sale">sale</div>
                                    <img src="http://placehold.it/400x450" alt="Image" class="img-responsive">

                                    <span class="bar"></span>
                                    <figcaption>
                                        <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                        <a href="#" class="shoping"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                        <a href="#" title="Compare"><i class="glyphicon glyphicon-sort"></i></a>
                                    </figcaption>
                                </figure>
                                <div class="product-caption">
                                    <a href="#" class="product-name">Product name</a>
                                    <p class="product-price">230.99$</p>
                                    <div class="product-rating">
                                        <div class="stars">
                                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </article>
                    </div>
                    <div class="block-pagination">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
              
            </div>


        </div>
    </div>
</section>
