---
layout: default
---
<section>
  <div class="color-scheme-3">
    <div class="container">
      <div class="row">
        <div class="product-detail-section col-xs-12">
          <div class="product-list">
            <div class="row simpleCart_shelfItem">
              <div class="hidden">
                <span class="item_price">&euro;{{ page.price | replace: ',', '.' }}</span>
                <span class="item_url">{{ site.url }}{{ page.url }}</span>
                {% assign img = page.gallery[0].src | remove_first: '_media/' %}
                {% include img src=img width="90" class="item_thumb" title=page.title %}
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-image">
                  {% capture img_lg %}{% include img_path src=img width="800" height="" %}{% endcapture %}
                  {% capture img_md %}{% include img_path src=img width="400" height="" %}{% endcapture %}
                  {% capture img_sm %}{% include img_path src=img width="62" height="" %}{% endcapture %}
                  <img id="product-zoom"  src='{{ img_md }}' data-zoom-image="{{ img_lg }}" alt="{{ page.title }}">
                  <div id="gal1">
                    {% for item in page.gallery %}
                    {% assign img = item.src | remove_first: '_media/' %}
                    {% capture img_lg %}{% include img_path src=img width="800" height="" %}{% endcapture %}
                    {% capture img_md %}{% include img_path src=img width="400" height="" %}{% endcapture %}
                    {% capture img_sm %}{% include img_path src=img width="62" height="" %}{% endcapture %}
                    <a href="javascript:;" data-image="{{ img_md }}" data-zoom-image="{{ img_lg }}">
                      <img id="img_{{ forloop.index }}" src="{{ img_sm }}" alt="{{ item.title | default: page.title }}">
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1 class="item_name">{{ page.title }}</h1>
                <div class="product-rating">
                  <div class="stars">
                    <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                  </div>
                </div>
                <div class="product-information">

                  {% if page.brand %}
                  <div class="clearfix">
                    <label class="pull-left">Hersteller:</label> <span class="item_brand">{{ page.brand }}</span>
                  </div>
                  {% endif %}
                  {% if page.sku %}
                  <div class="clearfix">
                    <label class="pull-left">Produkt Code:</label> <span class="item_sku">{{ page.sku }}</span>
                  </div>
                  {% endif %}
                  {% if page.colors %}
                  <div class="clearfix">
      
                    <label class="pull-left">Farben:</label>
                    <select name="color" class="item_color form-control" id="color_picker">
                      {% for color in page.colors %}
                      <option option class="{{ color.name }}" value="#{{ color.code }}" >{{ color.name }}</option>
                      {% endfor %}
                    </select>
                    
     
                  </div>
                  {% endif %}
                  {% if page.sizes %}
                  <div class="clearfix">
                    <label class="pull-left">Größe:</label>
                    <select name="size" class="item_size form-control">
                      {% for size in page.sizes %}
                      <option value="{{ size.name }}">{{ size.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                  <div class="clearfix">
                    <label class="pull-left">Menge:</label>
                    <select name="quantity" class="form-control item_quantity">
                      {% for i in (1..10) %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="clearfix">
                    <label class="pull-left">Preis:</label>

                    <p class="product-price">{% if page.old_price %}<span>&euro;{{ page.old_price }}</span>{% endif %} &euro;{{ page.price }} zzgl. Versand</p>
                  </div>
                  <!---------------------------------------->
                  {% case page.availability %}
                    {% when 'Auf Lager'%}
                      {% assign availability-color = "green" %}
                    {% when 'Nur noch 1 verfügbar'%}
                      {% assign availability-color = "orange" %}
                    {% when 'Nur noch wenige verfügbar'%}
                      {% assign availability-color = "yellow" %}
                    {% when 'Nicht verfügbar'%}
                      {% assign availability-color = "red" %}
                    {% else %}
                      {% assign availability-color = "green" %}

                  {%endcase%}
                  <div class="clearfix">
                    <label class="pull-left">Verfügbarkeit</label>
                    <p style= "color:{{availability-color}}" class="product-availability">{{page.availability}}</p>
                  </div>
                  <!---------------------------------------->  
                                
                  <div class="header-1">
                    <div class="header-bottom-line"></div>
                  </div>
                  <div class="text-center">
                    <button class="btn-default-1 item_add"><i class="glyphicon glyphicon-shopping-cart"></i> Jetzt Kaufen</button>
                  </div>
                   {{ content }}
                </div>
              </div>
            </div>
          </div>
          <div class="box-border block-form">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="review">
                {% include disqus.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cartModalLabel">Warenkorb</h4>
      </div>
      <div class="modal-body">
        <div class="simpleCart_items"></div>
        <hr>
        <p class="lead">Zwischensumme (<span class="simpleCart_quantity"></span> Artikel): <span class="simpleCart_total"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Weiter einkaufen</button>
        <a href="/cart" class="btn btn-primary">Zur Kasse</a>
      </div>
    </div>
  </div>
</div>